<div ng-if="_update" class="text-center">Loading Information...</div>
<form  ng-submit="update()">
<div class="col-xs-6 text-right ptb10">
  Name : 
</div>
<div class="col-xs-6 text-left ptb10">
  <input ng-model="formdata.name" />
</div>
<div class="col-xs-6 text-right ptb10">
  City : 
</div>
<div class="col-xs-6 text-left ptb10">
  <input ng-model="formdata.city" /> 
</div>
<div class="col-xs-6 text-right ptb10">
  State : 
</div>
<div class="col-xs-6 text-left ptb10">
  <input ng-model="formdata.state" /> 
</div>
<div class="col-xs-6 col-xs-offset-6 text-left ptb10">
  <input type="submit" value="Update" />
  <span ng-if="C_update">{{C_update}}</span> 
</div>
</form>