

<div class="form-wrapper ptb100">
		<h1 class="form-wrapper__title">Account Information</h1>

		<form class="form-wrapper__form" ng-submit="update()">
            <span ng-if="_update" class="text-center">Loading Information...</span>
            <input type="text" class="form-wrapper__input" ng-model="formdata.name" placeholder="Name">
            <input type="text" class="form-wrapper__input" ng-model="formdata.city" placeholder="City">
            <input type="text" class="form-wrapper__input" ng-model="formdata.state" placeholder="State">
			<button type="submit" class="form-wrapper__button">
                {{_update===false?'Updated':'Updating'}}
            </button>
		</form>
</div>
