<header class="header">
    <h1 class='header__elegantshadow'><a href="/"><%= appName %></a></h1>
    <div class="text-center header__tabs ptb30">
        <%if (!logged) { %>
        <a href="/login/google" class="header__btn header__btn--animate"><i class="fa fa-google-plus"></i> Login/Signup</a>
        <% } else { %>
                <a href="/" class="header__beauty-btn transitioned">Home</a>
                <a href="/mybooks" class="header__beauty-btn transitioned">My Books</a>
                <a href="/sent" class="header__beauty-btn">Sent Trades</a>
                <a href="/received" class="header__beauty-btn">Received Trades</a>
                <a href="/account" class="header__beauty-btn">Account</a>
                <a href="/logout" class="header__beauty-btn">Logout</a>
        <% } %>
    </div>
</header>
