<header class="header">
    <h1 class='header__elegantshadow'><a href="/"><%= appName %></a></h1>
    <div class="text-center header__tabs ptb50">
        <%if (!logged) { %>
        <a href="/login/google" class="header__btn header__btn--animate"><i class="fa fa-google-plus"></i> Login/Signup</a>
        <% } else { %>
                <a href="/" class="beauty-button transitioned">Home</a>
                <a href="/mybooks" class="beauty-button transitioned">My Books</a>
                <a href="/sent" class="beauty-button">Sent Trades</a>
                <a href="/received" class="beauty-button">Received Trades</a>
                <a href="/account" class="beauty-button">Account</a>
                <a href="/logout" class="beauty-button">Logout</a>
        <% } %>
    </div>
</header>
