<div class="book-container">
	<div class="book-container__header text-center pb15 mb30">
		My Books
	</div>

    <div class="col-sm-3 col-sm-push-9">



      <div class="form-wrapper">
      		<h1 class="form-wrapper__title">Add Book</h1>

      		<form class="form-wrapper__form" ng-submit="insertBook()">
                <input type="text" class="form-wrapper__input" ng-model="formData.bookName" placeholder="Book Name">
                <input type="text" class="form-wrapper__input" ng-model="formData.isbn" placeholder="10 Digit ISBN">
                <button type="submit" class="form-wrapper__button">
                  {{_insertBook===false?'Added':'Add'}}
                </button>
                <div ng-if="_insertBook">Loading</div>
                <div ng-if="E_insertBook">{{E_insertBook}} <a href="#" ng-click="insertBook()">Try Again</a></div>
      		</form>
      </div>

    </div>
    <div class="col-sm-9 col-sm-pull-3 pt30">
		<h3 ng-if="_getMyBooks" class="col-xs-12 text-center">Loading</h3>
        <h3 ng-if="E_getMyBooks" class="col-xs-12 text-center">{{E_getMyBooks}} <a href="#" ng-click="getMyBooks()">Try Again</a></h3>
        <div class="component col-xs-12 col-sm-4" ng-repeat="(key, value) in books">
    		<ul class="align">
    			<li>
    				<figure class='book'>

    					<!-- Front -->

    					<ul class='hardcover_front'>
    						<li style="background-image:url('http://images.amazon.com/images/P/{{value.isbn}}.01.20TRZZZZ.jpg')">
    						</li>
    						<li></li>
    					</ul>

    					<!-- Pages -->

    					<ul class='page'>
    						<li></li>
    						<li>
    							<a href="/book/{{value._id}}" class="btn">
    							  {{value.bookName}}
    							</a>
    						</li>
    						<li></li>
    						<li></li>
    						<li></li>
    					</ul>

    					<!-- Back -->

    					<ul class='hardcover_back'>
    						<li></li>
    						<li></li>
    					</ul>
    					<ul class='book_spine'>
    						<li></li>
    						<li></li>
    					</ul>
    				</figure>
    			</li>
    		</ul>
    	</div>
    </div>
</div>
