$ccc:ccc;

/* beginning*/
/* code taken from http://codepen.io/ericrasch/pen/zjDBx*/
.block{
	display:block;
}
.inblock{
	display:inline-block;
}
.beauty-button{
	background:none;
	border:none;
	border-right:solid 1px #ccc;
	color:#fff;
	padding:0px 10px;
}
.beauty-button:hover{
	color:#ccc;
}