.header {
    //Credits Visit : http://codepen.io/juanbrujo/pen/yGpAK
    //Created by http://codepen.io/juanbrujo/
    @include element('elegantshadow') {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 52px;
        padding: 80px 50px;
        margin:0;
        text-align: center;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        color: #202020;
         background-color: #2d2d2d;
         letter-spacing: .1em;
         text-shadow:
           -1px -1px 1px #111,
           2px 2px 1px #363636;
      

    }
    @include element('btn'){

        color: #fff;
        cursor: pointer;
        display: block;
        font-size:16px;
        font-weight: 400;
        line-height: 45px;
        margin: 0 auto 2em;
        max-width: 160px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        width: 100%;
        @include modifier('animate') {
            border: 1px solid transparent;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
            outline: 1px solid;
            outline-color: rgba(255, 255, 255, .5);
            outline-offset: 0px;
            text-shadow: none;
            transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
            &:hover {
                border: 1px solid;
                box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
                outline-color: rgba(255, 255, 255, 0);
                outline-offset: 15px;
                text-shadow: 1px 1px 2px #427388;
            }
        }

    }
    @include element('tabs'){
        color:#fff;
        background: $red;
    }



}
